.randomJoke{
    font-weight: bold;
    text-align: center;
}

.randomJoke:hover{
    text-decoration: none; 
}

.body{
    background: url('https://www.grunge.com/img/gallery/false-facts-about-chuck-norris-you-always-thought-were-true/intro.jpg')no-repeat center center fixed;
    background-size: cover;
}

.random{
    justify-content: center!important;
}

.counter{
    background-color: rgba(0, 0, 0, 0.397);
    width: 45vh;
    height: 5vh;
    text-align: center;
    border-radius: 5px;
    border-style: hidden;
    color: wheat;
    transition: ease-in-out 0.4s;
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.counter:hover{
    font-size: 35px;
    color:#DC3545;
}